<!DOCTYPE  html>
<html ondragstart = "return false">
<head>
	<meta charset="UTF-8">
	<meta name = "Keywords" content = "">
	<meta name = "Description" content = "">
	<title>JS3D相册</title>
	<link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>
	  <div id="web_bg" style="background-image: url(./img/bg.jpg);"></div>
	<div id="perspective">
	  <div id="prebg" ></div>
		<div id="wrap">
			<img class="gimg"  src="img/12.jpeg" alt="">
			<img  class="gimg" src="img/12.jpeg" alt="">
			<img class="gimg"  src="img/13.jpeg" alt="">
			<img class="gimg"  src="img/14.jpeg" alt="">
			<img  class="gimg" src="img/16.jpeg" alt="">
			<img class="gimg"  src="img/17.jpeg" alt="">
			<img class="gimg"  src="img/8.jpg" alt="">
			<img class="gimg"  src="img/9.jpg" alt="">
			<img class="gimg" src="img/10.jpg" alt="">
		</div>
	</div>
	<div id="txt">
			<p class="wenben">500米口径球面射电望远镜（Five-hundred-meter Aperture Spherical Telescope），简称FAST，位于贵州省黔南布依族苗族自治州平塘县克度镇大窝凼的喀斯特洼坑中，工程为国家重大科技基础设施，“天眼”工程由主动反射面系统、馈源支撑系统、测量与控制系统、接收机与终端及观测基地等几大部分构成。 [1] 
					500米口径球面射电望远镜被誉为“中国天眼”，由我国天文学家南仁东于1994年提出构想，历时22年建成，于2016年9月25日落成启用。是由中国科学院国家天文台主导建设，具有我国自主知识产权、世界最大单口径、最灵敏的射电望远镜。综合性能是著名的射电望远镜阿雷西博的十倍。</p>
		   <p class="wenben">500米口径球面射电-meter Aperture 为“中国天眼”，由我国天文学家南仁东于1994年提出构想，历时22年建成，于2016年9月25日落成启用。是由中国科学院国家天文台主导建设，具有我国自主知识产权、世界最大单口径、最灵敏的射电望远镜。综合性能是著名的射电望远镜阿雷西博的十倍。</p>
           <p class="wenben">500米面射电望远镜（Five-hundred-meter Aperture Spherical Telescope），简称FAST，位于贵州省黔南布依族苗族自治州平塘县克度镇大窝凼的喀斯特洼坑中，工程为国家重大科技基础设施，“天眼”工程由主动反射面系统、馈源支撑系统、测量与控制系统、接收机与终端及观测基地等几大部分构成。 [1] 
				500米口径球面射电望远镜被誉为“中国天眼”，由我国天文学家南仁东于1994年提出构想，历时22年建成，于2016年9月25日落成启用。是由中国科学院国家天文台主导建设，具有我国自主知识产权、世界最大单口径、最灵敏的射电望远镜。综合性能是著名的射电望远镜阿雷西博的十倍。</p>	
			<p class="wenben">500米面射电望远镜（Five-hundred-meter Aperture Spherical Telescope），简称FAST，位于贵州省黔南布依族苗族自治州平塘县克度镇大窝凼的喀斯特洼坑中，工程为国家重大科技基础设施，“天眼”工程由主动反射面系统、馈源支撑系统、测量与控制系统、接收机与终端及观测基地等几大部分构成。 [1] 
						500米口径球面射电望远镜被誉为“中国天眼”，由我国天文学家南仁东于1994年提出构想，历时22年建成，于2016年9月25日落成启用。是由中国科学院国家天文台主导建设，具有我国自主知识产权、世界最大单口径、最灵敏的射电望远镜。综合性能是著名的射电望远镜阿雷西博的十倍。</p>	
			<p class="wenben">500米面射电望远镜（Five-hundred-meter Aperture Spherical Telescope），简称FAST，位于贵州省黔南布依族苗族自治州平塘县克度镇大窝凼的喀斯特洼坑中，工程为国家重大科技基础设施，“天眼”工程由主动反射面系统、馈源支撑系统、测量与控制系统、接收机与终端及观测基地等几大部分构成。 [1] 
								500米口径球面射电望远镜被誉为“中国天眼”，由我国天文学家南仁东于1994年提出构想，历时22年建成，于2016年9月25日落成启用。是由中国科学院国家天文台主导建设，具有我国自主知识产权、世界最大单口径、最灵敏的射电望远镜。综合性能是著名的射电望远镜阿雷西博的十倍。</p>	
			<p class="wenben">500米面射电望远镜（Five-hundred-meter Aperture Spherical Telescope），简称FAST，位于贵州省黔南布依族苗族自治州平塘县克度镇大窝凼的喀斯特洼坑中，工程为国家重大科技基础设施，“天眼”工程由主动反射面系统、馈源支撑系统、测量与控制系统、接收机与终端及观测基地等几大部分构成。 [1] 
										500米口径球面射电望远镜被誉为“中国天眼”，由我国天文学家南仁东于1994年提出构想，历时22年建成，于2016年9月25日落成启用。是由中国科学院国家天文台主导建设，具有我国自主知识产权、世界最大单口径、最灵敏的射电望远镜。综合性能是著名的射电望远镜阿雷西博的十倍。</p>	
			<p class="wenben">500米面射电望远镜（Five-hundred-meter Aperture Spherical Telescope），简称FAST，位于贵州省黔南布依族苗族自治州平塘县克度镇大窝凼的喀斯特洼坑中，工程为国家重大科技基础设施，“天眼”工程由主动反射面系统、馈源支撑系统、测量与控制系统、接收机与终端及观测基地等几大部分构成。 [1] 
												500米口径球面射电望远镜被誉为“中国天眼”，由我国天文学家南仁东于1994年提出构想，历时22年建成，于2016年9月25日落成启用。是由中国科学院国家天文台主导建设，具有我国自主知识产权、世界最大单口径、最灵敏的射电望远镜。综合性能是著名的射电望远镜阿雷西博的十倍。</p>	
			<p class="wenben">500米面射电望远镜（Five-hundred-meter Aperture Spherical Telescope），简称FAST，位于贵州省黔南布依族苗族自治州平塘县克度镇大窝凼的喀斯特洼坑中，工程为国家重大科技基础设施，“天眼”工程由主动反射面系统、馈源支撑系统、测量与控制系统、接收机与终端及观测基地等几大部分构成。 [1] 
														500米口径球面射电望远镜被誉为“中国天眼”，由我国天文学家南仁东于1994年提出构想，历时22年建成，于2016年9月25日落成启用。是由中国科学院国家天文台主导建设，具有我国自主知识产权、世界最大单口径、最灵敏的射电望远镜。综合性能是著名的射电望远镜阿雷西博的十倍。</p>	
			<p class="wenben">500米面射电望远镜（Five-hundred-meter Aperture Spherical Telescope），简称FAST，位于贵州省黔南布依族苗族自治州平塘县克度镇大窝凼的喀斯特洼坑中，工程为国家重大科技基础设施，“天眼”工程由主动反射面系统、馈源支撑系统、测量与控制系统、接收机与终端及观测基地等几大部分构成。 [1] 
																500米口径球面射电望远镜被誉为“中国天眼”，由我国天文学家南仁东于1994年提出构想，历时22年建成，于2016年9月25日落成启用。是由中国科学院国家天文台主导建设，具有我国自主知识产权、世界最大单口径、最灵敏的射电望远镜。综合性能是著名的射电望远镜阿雷西博的十倍。</p>		
		</div>
	<script type = "text/javascript" src = "./script.js"></script>
	<p>dsajhgkhkjdsahgkjdsaghkdsjgh</p>
	<a href="">dsfdsadsagadsg</a>
</body>
</html>
<!--
	如何设置3D场景
	1.场景景深
	2.给元素设置3D风格
-->
