@import '~antd/dist/antd.css';

#root{
    height: 100%;
    width: 100%;
}
body{
    /* overflow: hidden; */
}
.bgvid{
    z-index: 0;
    position: relative;
    bottom: 190px;
    margin: 0 auto;
    left: -30px;
    filter: blur(1px);
    opacity: 0.8;
}
.pageWrap{
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.mainWrap{
    height: 100%;
    /* min-height: 780px; */
    width: auto;
    background-image: url(./index/img/bg1.png);
    background-repeat: repeat;
}
/* 
#logo{
    color: rgb(218,6,21);
} */
.ant-layout-header{
    line-height: 64px;
    background-color:none;
    padding: 0;
    border-bottom: 4px solid #fff;
}
#logoImg{
    height: 54px;
    margin: 5px auto;
    float: auto;
}
.ant-col-md-6{
    text-align: center;
    background-color: #fff;
}

.ant-menu{
    height: 64px;
    line-height: 64px;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
}
.xsMenu{
    position: absolute;
    right: 10%;
    width: 20px;
}
#nav a:hover{
    color: rgb(187, 121, 82);
}
#nav a{
    color: black;
}
.ant-menu-item{
    margin-left: 20px;
}
#header .ant-menu .ant-menu-item-selected a{
    color: rgb(187, 121, 82);
}
#header .ant-menu .ant-menu-item-selected{
    border-bottom: none;
}
#header .ant-menu .ant-menu-item-active{
    color: rgb(187, 121, 82);
    border-bottom: none;
}
.mainHeader {
    width: 100%;
    border-bottom: 6px solid rgb(187, 121, 82);
    z-index: 999;
}
#header .ant-row .ant-col , #header .ant-row .ant-menu{
    background-image: url(./index/img/bg2.png);
}
.ant-carousel .slick-slider .slick-dots li{
    background-color: black;
    position: relative;
    /* bottom: 30%; */
}
.ant-carousel .slick-slider .slick-dots button{
    height: 5px;
    width: 20px;
}
.ant-carousel .slick-slider .slick-list .slick-track img{
    /* height: 800px; */
    width: 100%;
    /* z-index: 100; */
    margin: 0 auto;
}
.mainFooter{
    border-top: 6px solid rgb(187, 121, 82);
    display: block;
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 0%;
    background-image: url(./index/img/bg2.png);
}